<section id="articles">
  <article class="jk">
    <h5>>Bomb Beverages</h5>
    <span>2011</span>
    <div>
      <img src="/images/bomb_logo_final.png" width="250"/>
    </div>
    <h5 class="spa bomb">>Energy Drink Awesomeness</h5>
    <p>
      Bomb came to me with an open mind and let me take care of their online branding. The results turned out to be awesome. Using the latest technologies, Bomb continues to grow across the country and theres no stopping them now.
    </p>
    <h5 class="spa ">>Tech Specs</h5>
    <p>
      <ul class="techlist">
        <li> Adobe Business Catalyst CMS</li>
        <li> html5/css3</li>
        <li> jQuery</li>
        <li> Javascript</li>
      </ul>
    </p>

    <h5 class="spa">>Duties</h5>
    <p>
      <ul class="techlist">
        <li> Development </li>
      </ul>
    </p>
   <span class="share"><small><a href="http://bombbeverages.com/">(View Website)</a></small></span> 
  </article>
</section>
