<section id="articles">
  <article class="jk">
    <h5>>The Dev Station</h5>
    <span>2010</span>
    <h5 class="spa">>A Place to call home.</h5>
    <p>
      The Dev Station is a place on the web to call home, put up blog posts, and show off some of my work.
    </p>
    <h5 class="spa ">>Tech Specs</h5>
    <p>
      <ul class="techlist">
        <li> Ruby On Rails 3</li>
        <li> html5/css3</li>
        <li> Javascript </li>
      </ul>
    </p>

    <h5 class="spa">>Duties</h5>
    <p>
      <ul class="techlist">
        <li> Design </li>
        <li> Development </li>
      </ul>
    </p>
    <p>You can check this project out on <a href="https://github.com/shanejonas/blog">github</a>.</p>
  </article>
</section>
