
<section id="articles">
  <article class="jk">
    <ul class="resume_ul">
      <li>Shane Jonas</li>
      <li>Web Developer</li>
      <li>jonas.shane@gmail.com</li>
      <li>Ontario, Canada</li>

    </ul>
    <h5>>Computer Literacy</h5>
    <ul class="resume_ul">
        <li>I am proficient in <a href="http://en.wikipedia.org/wiki/Touch_typing">Touch Typing</a> as well as an OS X Power User. I mainly use the keyboard for efficiency in everyday tasks using Vim, Vimium (for chrome), and the terminal (zsh).
        I am also proficient with Git Version Control and most editing software (photoshop, illustrator, premiere pro, after effects, final cut pro, pro tools). </li>
        <li> &nbsp; </li>
        <li>
          Languages: 
          <ul>
            <li class="ruby">Ruby</li>
            <li class="javascript">Javascript</li>
            <li class="php">PHP</li>
            <li class="mysql">MySQL</li>
            <li class="html5">HTML(5)</li>
            <li class="actionscript">Actionscript</li>
            <li class="css3">CSS(3)</li>
            <li class="perl">Perl</li>
            <li class="cplusplus"> C++</li>
          </ul>
        </li>
         <li> &nbsp; </li> 
        <li>Design Concepts:
          <ul>
            <li class="mvc">MVC </li>
            <li class="oop">OOP</li>
          </ul>
        </li>
        <li> &nbsp; </li>
        <li>Frameworks: 
          <ul>
            <li class="ror">Ruby on Rails</li>
            <li class="flex4">Flex 4</li>
            <li class="backbone">Backbone.js</li>
            <li class="underscore">Underscore.js</li>
            <li class="jquery">jQuery</li>
            <li class="limonade">Limonade-PHP</li>
            <li class="fuelphp">FuelPHP</li>
            <li class="sinatra">Sinatra</li>
            <li class="rspec">RSpec</li>
          </ul>
        </li>
        <li> &nbsp; </li>
    </ul>
    <h5>>Work Experience</h5>

    <ul class="resume_ul">
        <li>Jan 2009 - present</li>
        <li>Lawl Media Web Design & Business Solutions</li>
        <li>Started my own small business; I deal with various clients from small to large businesses.</li>
        <li> &nbsp;</li> 
        <li>April 2009 - November 2009</li>
        <li>MDG Computers Canada</li>
        <li>Inside Sales Rep</li>
        <li>Sold various computers and accessories to customers over the phone.</li>
        <li> &nbsp;</li> 
        <li>Jan - August 2008</li>
        <li>TransUnion Canada</li>
        <li>Network Analyst - Co-op</li>
        <li>Did IT Support for a Call Centre Environment. Supporting 40-60 Employees and multiple router/servers. </li>

    </ul>
    <h5>>Education</h5>

    <ul class="resume_ul">
        <li>Fanshawe College </li>
        <li>London, ON</li>
        <li>Advanced Interactive Media</li>
        <li>Post-Grad Certificate</li>
        <li>2010-2011</li>
        <li> &nbsp;</li> 
        <li>Mohawk College </li>
        <li>Hamilton, ON</li>
        <li>Computer Systems Technician </li>
        <li>Network Systems</li>
        <li>2006-2008</li>
        
        <li> &nbsp;</li> 
        <li>Westmount Secondary School</li>
        <li>Hamilton ON</li>
        <li>OSSD</li>
        <li>2004-2006</li>

    </ul>

    <h5>>What Interests Me</h5>

    <ul class="resume_ul">
      <li><span class="blue">>Testing</span></li>
      <li>I have understanding of TDD/BDD concepts using Rspec and I try to learn best practices to keep my code as clean as possible.</li>
        <li> &nbsp;</li> 
        <li><span class="blue">>Efficiency</span></li>
      <li>If theres a better way to do something, I want to know. If theres a shorter way to write something, I want to implement it now.</li>
        <li> &nbsp;</li> 
      <li><span class="blue">>Web Development & Design Trends</span></li>
      <li>Reading design & dev blogs to keep up on the ever changing industry. Peepcode Play by Play videos really
      interests me to see how other people work and how I can adapt my workflow to be more efficient.</li>
        <li> &nbsp;</li> 
      <li><span class="blue">>Music </span></li>
      <li>The Black Keys</li>
      <li>The Arkells</li>
    </ul>
  </article>
</section>
