<section id="articles">
  <article class="jk">
    <h5>>Advanced Multimedia</h5>
    <span>Thesis Project</span>
    <div id="opma">
      <img src="/images/opma_web_logo.png" />
    </div>
    <h5 class="spa">>Single Page Application</h5>
    <p>
      Single Page Javascript applications are becoming more and more popular among cutting-edge development companies. This App is a demonstration of learning the architecture and design patterns behind it using MVC and REST.
    </p>
    <h5 class="spa">>OPMA file uploader with Adobe AIR</h5>
    <p>
      To make file uploading more convenient and easier, you can download the AIR application and drag & drop files from your desktop to OPMA.
    </p>
    <h5 class="spa">>Tech List</h5>
    <p>
      <ul class="techlist">
        <li> Javascript front-end using Backbone.js and jQuery</li>
        <li> Ruby on Rails 3</li>
        <li> HTML5/CSS3 </li>
        <li> Flex 4.0.1 & Adobe AIR</li>
      </ul>
    </p>

    <h5 class="spa">>Duties</h5>
    <p>
      <ul class="techlist">
        <li> Design </li>
        <li> Branding</li>
        <li> Development</li>
        <li> Testing</li>
        <li> Debugging</li>
      </ul>
    </p>
   <span class="share"><small><a href="http://opma.heroku.com/">(View Website)</a></small></span> 
    <br /><br />
    <div>
      <!--<iframe title="YouTube video player" width="360" height="240" src="http://www.youtube.com/embed/ZPms2iG4Nvw" frameborder="0" allowfullscreen></iframe> -->
    </div>
  </article>
</section>
