
<article class="jk">
<h5>><%=  link_to post.title, post %></h5>
<span><%= post.published_on %></span>
<p>
<%= raw post.body %>
</p>
<span class="share"><small><%= link_to "(View Comments)", post %></small></span>
</article>

<hr class="shadow" />

