
<article class="jk">
<h5>><%=  link_to post.title, post %></h5>
<span><%= post.published_on %></span>
<%= post.body.html_safe%>
<span class="share"><a href="#">(3) Comments</a> | Share this post via <a href="#">facebook</a> or <a href="#">twitter</a></span>
</article>
<hr />

