<section id="articles">
    <%= render :partial => "post", :collection => @posts %>

    <% if @posts.empty? %>
          <article>
            <p> <i> No Search Results Found...</i> </p>
          </article>
    <% end %>

</section>
