
<section id="articles">
<article>
<h5>><%= @post.title %></h5>
<span><%= @post.published_on %></span>
<p><%= @post.body.html_safe%></p>
<span class="share"><a href="#">(3) Comments</a> | Share this post via <a href="#">facebook</a> or <a href="#">twitter</a></span>
</article>
</section>
