
<section id="articles">
<article>
<h5>><%= @post.title %></h5>
<span>Published <i><%= time_ago_in_words(@post.created_at) %></i> ago.</span>
<p><%= raw @post.body %></p>
<hr />


<div id="disqus_thread"> 
<!-- disqus comments -->
</div>

</article>

</section>
